body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}

[class*="col-"] {
        width: 130%;
           }
          @media only screen and (min-width: 600px) {
         /* For tablets: */
       .col-m-1 {width: 8.33%;}
       .col-m-2 {width: 16.66%;}
       .col-m-3 {width: 25%;}
       .col-m-4 {width: 33.33%;}
       .col-m-5 {width: 41.66%;}
       .col-m-6 {width: 50%;}
       .col-m-7 {width: 58.33%;}
      .col-m-8 {width: 66.66%;}
      .col-m-9 {width: 75%;}
      .col-m-10 {width: 83.33%;}
      .col-m-11 {width: 91.66%;}
      .col-m-12 {width: 100%;}
         }
        @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
         }

@media screen and (max-width: 600px) {
  body {
    font-size: 1.5em;
  }
  … h2 {
    font-size: 2.5em;
  }
}
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main-content {
  padding: 100px 90px;
}
.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}
.about-me-description {
  width: 400px;
  left: 498px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
  color: #595959;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-top: 45px;
  margin-bottom: 10px;
  color: #000;
}

/* Periods */
.periods {
  font-size: 14px;
  color: #a8a8a8;
}

/* logo */
.logo {
  position: relative;
  right: 40px;
  bottom: 3px;
}
.logoone {
  position: relative;
  bottom: 34px;
  left: 328px;
  right: 0px;
}
.logotwo {
  position: relative;
  left: 255px;
  bottom: 54px;
}
/* Project list */
.projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #595959;
}
.num {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 17px;
}
.link-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}
.bracket {
  font-weight: bold;
  color: #000;
}

/* My work experience */
.work-item {
  padding: 0 0 0 0px;
}
.num-work {
  padding: 0 0 0 17px;
}
.firm-section {
  color: #fb6d3a;
}
.divider {
  color: #000;
}

/* Side bar */
.side-bar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contact-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.side-bar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts section */
.contact-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contact-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}
.list {
  padding-left: 17px;
}
.item {
  color: #fb6d3a;
}
.item-text {
  color: #fff;
}
